<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: instruments_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search a Instrument" %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
  <h1 class="m-4 text-center">Instrument listings</h1>
</div>
<div class="d-flex">
  <% @instruments.each do |instrument| %>
    <div class="m-4 card" style="width: 18rem;">
      <div class="card-body">
        <p><%= link_to instrument.title, instrument_path(instrument), class: "card-title" %></p>
        <p class="card-text"><%= instrument.condition%></p>
        <p class="card-text">£<%= instrument.price_per_day%>.00</p>
        <p class="card-text"><%= instrument.address%></p>
      </div>
    </div>
  <% end %>
</div>
<div class="d-flex">
  <% @instruments.each do |instrument| %>
    <div class="m-4 card" style="width: 18rem;">
      <div class="card-body">
        <p><%= link_to instrument.title, instrument_path(instrument), class: "card-title" %></p>
        <p class="card-text"><%= instrument.description%></p>
      </div>
    </div>
  <% end %>
</div>
