<h1>List an instrument</h1>
<%= simple_form_for(@instrument) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :condition %>
  <%= f.input :address %>
  <%= f.input :price_per_day %>
    <%= f.input :available_from,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
  <%= f.input :available_until,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
  <%= f.submit "Post an instrument", class: "btn btn-primary" %>
<% end %>
