<div class="container mx-2">
  <h1>Description</h1>
    <div class="card border-0" style="width: 50%;">
      <ul class="list-unstyled">
        <h4>Title:</h4>
        <li><%= @instrument.title %></li>
        <h4>Description:</h4>
        <li><%= @instrument.description %></li>
        <h4>Condition:</h4>
        <li><%= @instrument.condition %></li>
        <h4>Price per day:</h4>
        <li><%= @instrument.price_per_day%></li>
      </ul>
    </div>

    <div class="card border-0" style="width: 50%;">
      <h5>Book this instrument:</h5>
        <%= simple_form_for [@instrument, @booking] do |f| %>
          <%= f.input :start_date,
                    as: :string,
                    input_html: { data: { controller: "datepicker" } } %>
          <%= f.input :end_date,
                    as: :string,
                    input_html: { data: { controller: "datepicker" } } %>
          <%= f.submit class:"submit-btn" %>
        <% end %>
    </div>

  <div class="card border-0" style="width: 50%;">
    <h4 class="pt-4">Location:</h4>
    <div>
      <ul class="list-unstyled">
        <li class="py-2"><b><%= @instrument.address %></b></li>
        <p class="py-2">Available_from: <%= @instrument.available_from %></p>
        <p>Available_until: <%= @instrument.available_until %></p>
      </ul>
    </div>
  </div>

  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
